
@import url('https://fonts.googleapis.com/css?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');

h1 {
    font-family: 'Playfair Display SC', serif;
    color: white;
}

.link {
    color: #a6a6a6;
    text-decoration: underline;
}

.link:hover {
    color: white;
    text-decoration: initial;
}

p {
    color: white;
}

.bg-image {

}